# These folders wont be synced to github.
.probe
.cache
.vscode
/backups
/coremods
/crash-reports
/data
/downloads
/ESM
/local
/logs
/moddata
/mods
/observable_profiles
/patchouli_books
/resourcepacks
/resourcify-temp
/saves
/schematics
/screenshots
/server-resource-packs
/shaderpacks
/spark-modernfix
/texturepacks
/tlm_custom_pack
/xaero
/XaeroWaypoints_*
/config/fabric/
config/*
/debug
/chiselsandbits
/cache

#blacklisted files
command_history.txt
usernamecache.json
usercache.json
servers.dat
realms_persistence.json
patchouli_data.json
options.txt
knownkeys.txt
observable_announce
ds_private_storage.json
icon.png
emi.json
servers.dat_old
config/xaerominimap_entities.json
config/iris.properties
config/sound_physics_remastered/*
/.mixin.out
/config/crash_assistant/lang

kubejs/server_scripts/mod_specific/.vs/slnx.sqlite
kubejs/config/probe-settings.json
kubejs/config/web_server.json
kubejs/client_scripts/jsconfig.json
kubejs/server_scripts/jsconfig.json
kubejs/startup_scripts/jsconfig.json
**/jsconfig.json
**/web_server.json
**/probe-settings.json

#These files/folders will be synced to github.
#may have to "whitelist" specific folders to work 100%

!defaultconfigs/
!packmenu/
!kubejs/
!kubejs/assets/
!kubejs/client_scripts/
!kubejs/data/
!kubejs/config/
!kubejs/server_scripts/
!kubejs/startup_scripts/
!config/almostunified/
!config/mysticalcustomization/
!config/apotheosis/
!config/iceandfire/
!config/Mekanism/
!config/servercore/
!/config/the_bumblezone
!/config/ftbquests/
!/config/bhc
!/config/crash_assistant
!/config/potionsmaster
!/config/mods_optimizer
!/config/mysticalagriculture-common.toml

!todo.diff
!config/oritech-config.json5
!/config/fluxnetworks-server.toml
!/config/wormhole-common.toml
!/config/cumulus_menus-client.toml
!/config/dynamic_fps.json
!/config/dynamicview.json
!/config/emi_ores-client.json
!/config/firstperson.json
!/config/immersiveengineering-server.toml
!/config/immersiveengineering-startup.toml
!/config/livingthings
!/config/logprot.json
!/config/lootr-client.toml
!/config/memorysettings.json
!/config/monocle.properties
!/config/productivebees-server.toml
!/config/silentgear-common.toml
!/config/solcarrot-server.toml
!/config/sophisticatedbackpacks-server.toml
!/config/tombstone-common.toml
!/config/tombstone-server.toml
!/config/touhou_little_maid-common.toml
!/config/travelerstitles-neoforge-1_21.toml
!/config/ars_elemental-common.toml
!/config/accessories.json5
!/config/appflux-common.toml
!/config/ars_additions-server.toml
!/config/asteorbar-client.toml
!/config/memorysweep.json5
!config/better_beacons.json5
!/config/cant_sleep_clowns_will_eat_me-common.toml
!config/mekanism_turrets-common.toml
!config/mekanism_weaponry-common.toml
!/config/curvy_pipes.yaml
!/config/mahoutsukai-server.toml
!/config/apothic_spawners.cfg
!/config/moreoverlays.toml
!/config/mods_optimizer/config.toml
!/config/akashictome-common.toml
!/config/bcc-common.toml
!/config/itemphysic.json
!/config/powah.json5
