# These folders wont be synced to github.
.probe
.cache
.vscode
/backups
/coremods
/crash-reports
/data
/downloads
/ESM
/local
/logs
/moddata
/mods
/observable_profiles
/patchouli_books
/resourcepacks
/resourcify-temp
/saves
/schematics
/screenshots
/server-resource-packs
/shaderpacks
/spark-modernfix
/texturepacks
/tlm_custom_pack
/xaero
/XaeroWaypoints_*
/config/fabric/
config/*

#blacklisted files
command_history.txt
usernamecache.json
usercache.json
servers.dat
realms_persistence.json
patchouli_data.json
options.txt
knownkeys.txt
observable_announce
ds_private_storage.json
icon.png
emi.json
servers.dat_old
config/xaerominimap_entities.json
config/iris.properties
config/sound_physics_remastered/*

kubejs/server_scripts/mod_specific/.vs/slnx.sqlite
kubejs/config/probe-settings.json
kubejs/config/web_server.json
kubejs/client_scripts/jsconfig.json
kubejs/server_scripts/jsconfig.json
kubejs/startup_scripts/jsconfig.json
**/jsconfig.json
**/web_server.json
**/probe-settings.json

#These files/folders will be synced to github.
#may have to "whitelist" specific folders to work 100%

!defaultconfigs/
!packmenu/
!kubejs/
!kubejs/assets/
!kubejs/client_scripts/
!kubejs/data/
!kubejs/config/
!kubejs/server_scripts/
!kubejs/startup_scripts/
!defaultconfigs
!packmenu
!config/almostunified/
!config/mysticalcustomization/